.App{
  text-align: center;
}
input{
  padding: 4px;
  margin-right: 8px;
}
ul{
  list-style: none;

}
li{
  margin: 12px 0;;
}
.delete-Item{
font-size: 15px;
margin-left: 8px;
background-color: brown;
}
.appl{
  background-color:rgb(78, 150, 243);
  margin: 12px 0;;

}